@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Comprobando Clave</h2>

@if (ViewBag.Clave == null)
{
    <h1>No se ingresó ninguna clave.</h1>
}
else
{
    <h1>La clave ingresada fue: <strong>@ViewBag.Clave</strong></h1>

    @if (ViewBag.EsSegura == true)
    {
        <h1>La clave es segura.</h1>
    }
    else
    {
        <h1> La clave NO es segura.</h1>
        <p>Debe tener al menos 8 caracteres, una mayúscula y un número.</p>
    }
}