@{
    ViewBag.Title = "Login";
}

<h1>Iniciar Sesión</h1>

<form action="/Login/Login" method="post">
    <h1>Usuario:</h1>
    <input name="Usuario" required />
    <br />
    <h1>Contraseña:</h1>
    <input name="Contrasena" type="password" required />
    <br />
    <input type="submit" value="Entrar" />
</form>

@if (ViewBag.Mensaje != null)
{
    <h1>@ViewBag.Mensaje</h1>
}